BACKEND_URL=http://192.168.1.100:8000
BACKEND_WS_URL=ws://192.168.1.100:8000
DOOR_ID=<uuid-of-this-door>
DEVICE_TOKEN=<one-time-token-from-device-create-or-rotate>
CAMERA_INDEX=0
JPEG_QUALITY=70
STREAM_FPS=20
DETECT_FPS=10
RECOGNIZE_MIN_INTERVAL_SECONDS=0.5
RECOGNIZE_SUCCESS_COOLDOWN_SECONDS=3.0
RECOGNIZE_FAILURE_COOLDOWN_SECONDS=0.5
MAX_RECOGNIZE_IN_FLIGHT=1
CAMERA_FAIL_RETRY=30
FACE_DETECTOR_MODEL=models/face_detection_yunet_2023mar.onnx
